~$
^build$
^netbeans.*.zip$
^harness.*.zip$
^netbeans.*.html$
^installers.*.html$
^testdist.*.zip$
^visage.*.zip$
^dist$
/build$
/dist$
/external$
/release$
nbproject/private$
/test/(coverage|lib|results|work)$
derby\.log
\.class$
\.DS_Store$
\.orig$
\.rej$
\.tmp\.$
\.swp$
^tags$
/gensrc$
\.ant-targets-build\.xml$
^hs_err_pid[0-9]*\.log
moduleclusters.html
*.class
*.jar
Thumbs.db